@*@model IEnumerable<StudentExcel>

    <form id="formExcel" asp-controller="Home" asp-action="EditKid" method="post" enctype="multipart/form-data">
        @{Layout = null; }

        <div style="padding-top:50px" align="center">
            <input type="file" name="file">
        </div>
        <hr />
        <div style="padding:10px" align="right">
            <button type="submit" class="btn btn-sm btn-success">Просмотреть</button>
        </div>
    </form>


    @if (Model.Count() > 0)
    {


    <form>
        @{Layout = "/Views/Shared/_Layout.cshtml"; }
        <hr />
        <div class="text-center">
            <h2 style="text-align:right">Быстрый просмотр</h2>
        </div>
        <table class="table table-bordered ">
            <tr class="text-center shadow">
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Дата рождения</td>
                <td>Класс</td>
                <td>Год окончания</td>
                <td>Номер телефона</td>
                <td>Почта</td>
            </tr>
            @foreach (StudentExcel item in Model)
            {
        <tr>
            <td>@item.Name</td>
            <td>@item.SureName</td>
            <td>@item.PatronymicName</td>
            <td>@item.YearBirthday</td>
            <td>@item.Class</td>
            <td>@item.EndTraining</td>
            <td>@item.Telephone</td>
            <td>@item.Email</td>
        </tr>
    }
        </table>
    </form>
     <hr class="specialHR2" />
        <label for="isKPEdit" class="littleLabel">Разрешение на обработку персональных данных:</label>
        @Html.CheckBox("ChboxNedCard", false, new { @id = "isKPEdit" })
            <hr class="specialHR2" />
    <div align="right">
            <a class="btn btn-sm btn-outline-dark" type="button" href="/#EditKid">Отмена</a>
            <a class="btn btn-sm btn-outline-success" type="button" asp-area="" asp-controller="Home" asp-action="EditKid">Загрузить</a>
        </div>
    <script>
        document.getElementById("formExcel").setAttribute("hidden", true);
        var url = document.location.toString();
        url = url.split('Home/EditKid')[1];
        /*var url = '/';*/
        //history.pushState({}, null, url);

    </script>
    }*@
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<form asp-controller="Home" asp-action="EditKid" method="post" enctype="multipart/form-data">
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
        </form>
        @if (Model != null)
        {
            <h4>Customers</h4>
            <hr />
            <table cellpadding="0" cellspacing="0">
                <tr>
                    @foreach (DataColumn column in Model.Columns)
                    {
                        <th>
                            @column.ColumnName
                        </th>
                    }
                </tr>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (var item in row.ItemArray)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </table>
        }*@

</body>
</html>