@using Microsoft.AspNetCore.Http
@model StudentCardsAdmin.Models.SchoolModelView;
@{Layout = null; }
 <script src="~/js/site.js" asp-append-version="true"></script>
@if(Context.Session.GetString("Authorized") == "1"){
<div style="display: flex; justify-content: right;">
	<div style="margin-bottom:10px">
		@if (Context.Session.GetString("Rights") == "2" || Context.Session.GetString("Rights") == "4")
		{<button onclick="checkSession()" style="font-size:12pt" class="btn btn-outline-green" data-toggle="modal" data-target="#schoolModal">Добавить УО</button>}
		<a style="font-size:12pt; text-align:center" class="btn btn-sm btn-outline-dark" type="button" asp-area="" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
	</div>
</div>


<div  style="height:340px">
	@*<div class="tableFixHeadSchool">*@
	<table id="SchoolTable" style="width: 100%;" class="table-bordered table-hover">
		<thead>
<tr>
		<th>№</th>
		<th>УНП</th>
		<th>Полное наименование УО</th>
		<th>Краткое наименование УО</th>
		<th>Название на<br>Карте учащегося</th>
		<th>Адрес</th>
		<th>Номер<br>телефона</th>
		<th>Область</th>
		<th>Район</th>
		<th>Населенный<br>пункт</th>
		<th>Электронная<br> почта</th>
		<th id="CBU">ЦБУ</th>
	@if (Context.Session.GetString("Rights") == "2" || Context.Session.GetString("Rights") == "4"){
		<th>Действия</th>
	}
</tr>
			
		</thead>
		<tbody>
		@foreach (var item in ViewBag.Model1)
		{
<tr>
	<td>@item.id</td>
	<td>@item.unn</td>
	<td>@item.school_name</td>
	<td>@item.school_name_short</td>
	<td>@item.school_name_card</td>
	<td>@item.school_address</td>
	<td>@item.school_phone</td>
	<td>@item.region</td>
	<td>@item.district</td>
	<td>@item.locality</td>
	<td>@item.email</td>
	<td>@item.cbu</td>
	@if (Context.Session.GetString("Rights") == "2" || Context.Session.GetString("Rights") == "4"){
	<td style="text-align:center; flex-wrap: wrap" >
		<div>
			<button onclick="checkSession()" title="Редактирование УО" id="@item.id" class="btn btn-outline-green getSchoolEdit" data-toggle="modal" data-target="#schoolModalEdit"><i style="font-size:16pt" class="fas fa-pencil-alt"></i></button>
			<a title="Удаление УО" id="@item.id" class="btn btn-outline-danger" href="/Home/DelSchool/@item.id" ><i style="font-size:16pt" class="fas fa-trash"></i></a>
		</div>
	</td>
	}
</tr>}
</tbody>
	</table>
	<p>Зарегистрировано : @ViewBag.Model2 учреждений образования</p>
</div>

@*</div>*@
@using (Html.BeginForm("SaveSchool", "Home", FormMethod.Post, new { id = "AddSchForm" }))
{
				@Html.AntiForgeryToken()
				<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalCenterTitle" aria-hidden="true">
					<div style="max-width:800px" class="modal-dialog modal-dialog-centered" role="document">
						<div style="width:100%" class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="schoolModalLongTitle">Добавление УО</h5>
								<input id="name" name="Name" hidden value="" class="form-control" />
								<button id="cancel" type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-inline rowModal">
									<div>
										<label class="littleLabel">УНП:</label>
										<input asp-for="unn" style=" margin-left: 12px;" class="form-control-sm form-control" required>
									</div>
									<div>
										<label class="littleLabel">ЦБУ:</label>
										@if (Context.Session.GetString("CBU") == "0"){
										<input asp-for="cbu" value="@Context.Session.GetString("CBU")" style=" margin-left: 12px;" maxlength="9" class="form-control-sm form-control" required>
									}else{	<input asp-for="cbu" value="@Context.Session.GetString("CBU")" style=" margin-left: 12px;" disabled maxlength="9" class="form-control-sm form-control" required>}
										

										@* <input asp-for="cbu" style=" margin-left: 12px;" maxlength="9" class="form-control-sm form-control" required>*@
									</div>
								</div>
								<hr>
								<div class="form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content:left" class="littleLabel">Полное наименование <br> учреждения образования:</label>
										<textarea asp-for="school_name" onkeyup="this.value=this.value.replace('N','№')" maxlength="255" style=" margin-left: 12px; width:300px; min-height:20pt" type="text" class="form-control-sm form-control" required></textarea>
									</div>
									<div>
										<label style="justify-content:left" class="littleLabel">Краткое наименование <br> учреждения образования:</label>
										<textarea asp-for="school_name_short" onkeyup="this.value=this.value.replace('N','№')" maxlength="150" style=" margin-left: 12px; width: 300px; min-height: 20pt" type="text" class="form-control-sm form-control" required></textarea>
									</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
										<label  style="justify-content: left" class="littleLabel">Наименование учреждения образования <br> для отображения на Карте учащегося:</label>
										<textarea asp-for="school_name_card" onkeyup="this.value=this.value.replace('N','№')" maxlength="55" style=" margin-left: 12px; width: 100%; min-height: 20pt; max-height:40pt; width: 243.183px;height:48px; text-align:right; background-image:url(svgs/simp_template.png);"
										  type="text" class="form-control-sm form-control" required placeholder="Средняя школа №130 г.Минска им.Рут Уоллер"></textarea>
									<div style="margin-right:10%">
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel"><b>Правила заполнения: без пробела после знаков «№», «.»</b></label>
									</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Адрес:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<textarea asp-for="school_address" maxlength="150" style=" margin-left: 12px; width:300px;height:30px; max-height:100px; min-height:20pt" type="text" class="form-control-sm form-control" required placeholder="ул.Я.Лучины, 16"></textarea>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel"><b>Правила заполнения: без пробела после знаков «.», «-»</b></label>
									</div>

									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Населенный пункт:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<input asp-for="locality" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required placeholder="г.Минск">
									</div>
									</div>
									<hr>
									<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Район:</label>
										<input asp-for="district" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required placeholder="Ленинский">
									</div>
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Город, область:</label>
										<input asp-for="region" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required placeholder="Минск">
									</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" for="school_phone" class="littleLabel">Номер телефона:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<input style="margin-left:12px;" placeholder="+375"  maxlength="13" asp-for="school_phone" type="tel" class="tel form-control-sm form-control mask-phone"
											 required title="Номер телефона (отображается на Карте учащегося)" />
										
									</div>
									<div>
										<label style="justify-content: left" for="chekEmail" class="littleLabel">Электронная почта:</label>
										<input asp-for="email" maxlength="50" style="margin-left: 12px;" type="email" class="form-control-sm form-control" required placeholder="exemple@gmail.com">
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button id="cancelForm" type="reset" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
								<button id="submitSchForm" type="submit" class="btn btn-primary">Сохранить</button>
							</div>
						</div>
					</div>
				</div>
}


@using (Html.BeginForm("EditSchool", "Home", FormMethod.Post, new { id = "EditSchForm" }))
{
				@Html.AntiForgeryToken()
				<div class="modal fade " id="schoolModalEdit" tabindex="-1" role="dialog" aria-labelledby="schoolModalCenterTitle" aria-hidden="true">
					<div style="max-width:800px" class="modal-dialog modal-dialog-centered" role="document">
						<div style="width:100%" class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="schoolModalLongTitleEdit">Редактирование УО <input hidden id="id_edit" name="id_edit"/></h5>	
								<button id="cancel" type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-inline rowModal">
									<div>
										<label class="littleLabel">УНП:</label>
										<input id="unn_edit" name="unn_edit" style=" margin-left: 12px;" maxlength="9" class="form-control-sm form-control" required>
									</div>
									<div>
										<label class="littleLabel">ЦБУ:</label>
										@if (Context.Session.GetString("CBU") == "0"){
										<input id="cbu_edit" name="cbu_edit" style=" margin-left: 12px;" maxlength="9" class="form-control-sm form-control" required>
									}else{	<input id="cbu_edit" name="cbu_edit" value="@Context.Session.GetString("CBU")" style=" margin-left: 12px;" disabled maxlength="9" class="form-control-sm form-control" required>}
										

										@* <input asp-for="cbu" style=" margin-left: 12px;" maxlength="9" class="form-control-sm form-control" required>*@
									</div>
								</div>
								<hr>
								<div class="form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content:left" class="littleLabel">Полное наименование <br> учреждения образования:</label>
										<textarea id="school_name_edit" onkeyup="this.value=this.value.replace('N','№')" name="school_name_edit"  maxlength="255" style=" margin-left: 12px; width:300px; min-height:20pt" type="text" class="form-control-sm form-control" required></textarea>
									</div>
									<div>
										<label style="justify-content:left" class="littleLabel">Краткое наименование <br> учреждения образования:</label>
										<textarea id="school_name_short_edit" onkeyup="this.value=this.value.replace('N','№')" name="school_name_short_edit" maxlength="150" style=" margin-left: 12px; width: 300px; min-height: 20pt" type="text" class="form-control-sm form-control" required></textarea>
									</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
									<label style="justify-content: left" class="littleLabel">Наименование учреждения образования <br> для отображения на Карте учащегося:</label>
									<textarea id="school_name_card_edit" onkeyup="this.value=this.value.replace('N','№')" name="school_name_card_edit"  maxlength="55" style=" margin-left: 12px; width: 100%; min-height: 20pt; max-height:48pt; width: 243.183px; height:48px; text-align:right; background-image:url(svgs/simp_template.png); " type="text" class="form-control-sm form-control" required></textarea>
								<div style="margin-right:10%">
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel"><b>Правила заполнения: без пробела после знаков «№», «.»</b></label>
								</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Адрес:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<textarea id="school_address_edit" name="school_address_edit" maxlength="150" style=" margin-left: 12px; width:300px;height:30px; max-height:100px; min-height:20pt" type="text" class="form-control-sm form-control" required></textarea>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel"><b>Правила заполнения: без пробела после знаков «.», «-»</b></label>
									</div>
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Населенный пункт:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<input id="locality_edit" name="locality_edit" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required>
									</div>
									</div>
									<hr>
									<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Район:</label>
										<input id="district_edit" name="district_edit" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required placeholder="Ленинский">
									</div>
									<div style="margin-right:10%">
										<label style="justify-content: left" class="littleLabel">Город, область:</label>
										<input id="region_edit" name="region_edit" maxlength="50" style=" margin-left: 12px;" type="text" class="form-control-sm form-control" required placeholder="Минск">
									</div>
								</div>
								<hr>
								<div class=" form-inline rowModal">
									<div style="margin-right:10%">
										<label style="justify-content: left" for="school_phone" class="littleLabel">Номер телефона:</label>
										<label style="justify-content: left; color:red; font-size:10pt" for="school_phone" class="littleLabel">(отображается на Карте учащегося!)</label>
										<input style="margin-left:12px;"  id="school_phone_edit" name="school_phone_edit" type="tel" class="tel form-control-sm form-control"
											required title="Номер телефона" />
									</div>
									<div>
										<label style="justify-content: left" for="email_edit" class="littleLabel">Электронная почта:</label>
										<input id="email_edit"  name="email_edit" maxlength="50" required style="margin-left: 12px;" type="email" class="form-control-sm form-control" placeholder="exemple@gmail.com">
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button id="cancelForm" type="reset" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
								<button id="schEditForm" type="submit" class="btn btn-primary">Сохранить</button>
							</div>
						</div>
					</div>
				</div>
}
}



<script type="text/javascript">
@*var authorized = '@Context.Session.GetString("Authorized")';
        if(authorized != "1" ){
              window.location.href = 'Home';
              window.location.reload();
        }*@


	$(document).ready(function () {
		$('#SchoolTable').DataTable({
			pageLength: 5,
			lengthMenu: [[5, 10, 25, 100, -1], [5, 10, 25, 100, "Все"]],
			scrollY: '380px',
			pagingType: 'full_numbers',
			/*paging: false,*/
			"language": {
				"lengthMenu": "Отобразить _MENU_ на странице",
				"zeroRecords": "Ничего не найдено",
				"info": "Показано _PAGE_ из _PAGES_ страниц",
				"infoEmpty": "Записей нет",
				"infoFiltered": "(отфильтровано из _MAX_ записей)",
				"search": "Поиск",
				"paginate": {
					"first": "&laquo;",
					"previous": "&lt;",
					"next": "&gt;",
					"last": "&raquo;"
				}
			}

		});
		
	});

	$('#schoolModal').modal({
	show:false,
	backdrop:'static'
	})
	$('#schoolModalEdit').modal({
	show:false,
	backdrop:'static'
	})

	//Запрет на Латинские буквы
    {
		//Добавление короткого названия
		{	
			@*let school_name_short = document.querySelector('#school_name_short');
			school_name_short.addEventListener('input',() => {
			school_name_short.value = school_name_short.value.replace(/[a-z]/gi,'');
			});*@
		}//
		//Добавление названия на карте
		{	
			@*let school_name_card = document.querySelector('#school_name_card');
			school_name_card.addEventListener('input',() => {
			school_name_card.value = school_name_card.value.replace(/[a-z]/gi,'');
			});*@
		}//
		//Редактирование короткого названия
		{	
			@*let school_name_short_edit = document.querySelector('#school_name_short_edit');
			school_name_short_edit.addEventListener('input',() => {
			school_name_short_edit.value = school_name_short_edit.value.replace(/[a-z]/gi,'');
			});*@
		}//
		//Редактирование названия на карте
		{	
			@*let school_name_card_edit = document.querySelector('#school_name_card_edit');
			school_name_card_edit.addEventListener('input',() => {
			school_name_card_edit.value = school_name_short_edit.value.replace(/[a-z]/gi,'');
			});*@
		}//
	}


$(function () {
		$("#school_phone").mask('+37599?999999999',{
			clearIfNotMatch: false
		});
		$("#school_phone_edit").mask('+37599?999999999',{
			clearIfNotMatch: false
		});
		$("#unn").mask('999999999',{
			clearIfNotMatch: false
		});
		$("#unn_edit").mask('999999999',{
			clearIfNotMatch: false
		});
	});

	$("#submitSchForm").click(function () {

		$("#AddSchForm").submit();
	});
	$("#schEditForm").click(function () {

		$("#EditSchForm").submit();
	@*	document.getElementById('loadSCSchool').click();
		$("#partialSCSchool").load('@Url.Content("/Home/SCSchool")', function () {

	});*@
	});

</script>
